<a href="https://colab.research.google.com/github/Abiramibeeyou/Exploratory-Data-Analysis/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/salemprakash/EDA/main/Data/txhousing.csv')
df.head(10)

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333
5,6,Abilene,2000,6,156.0,13910000.0,66900.0,780.0,6.6,2000.416667
6,7,Abilene,2000,7,152.0,12635000.0,73500.0,742.0,6.2,2000.500000
7,8,Abilene,2000,8,131.0,10710000.0,75000.0,765.0,6.4,2000.583333
8,9,Abilene,2000,9,104.0,7615000.0,64500.0,771.0,6.5,2000.666667
9,10,Abilene,2000,10,101.0,7040000.0,59300.0,764.0,6.6,2000.750000

In [ ]:
# ListingsPerMonth: The number of listings per month
df['ListingsPerMonth'] = df['listings'] / df['month']
df.head(10)

,rownames,city,year,month,sales,volume,median,listings,inventory,date,ListingsPerMonth
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000,701.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333,373.000000
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667,261.333333
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000,196.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333,158.800000
5,6,Abilene,2000,6,156.0,13910000.0,66900.0,780.0,6.6,2000.416667,130.000000
6,7,Abilene,2000,7,152.0,12635000.0,73500.0,742.0,6.2,2000.500000,106.000000
7,8,Abilene,2000,8,131.0,10710000.0,75000.0,765.0,6.4,2000.583333,95.625000
8,9,Abilene,2000,9,104.0,7615000.0,64500.0,771.0,6.5,2000.666667,85.666667
9,10,Abilene,2000,10,101.0,7040000.0,59300.0,764.0,6.6,2000.750000,76.400000

In [ ]:
df['city'].value_counts()

city
Abilene                  187
Port Arthur              187
Lubbock                  187
Lufkin                   187
McAllen                  187
Midland                  187
Montgomery County        187
Nacogdoches              187
NE Tarrant County        187
Odessa                   187
Paris                    187
San Angelo               187
Amarillo                 187
San Antonio              187
San Marcos               187
Sherman-Denison          187
South Padre Island       187
Temple-Belton            187
Texarkana                187
Tyler                    187
Victoria                 187
Waco                     187
Longview-Marshall        187
Laredo                   187
Killeen-Fort Hood        187
Kerrville                187
Arlington                187
Austin                   187
Bay Area                 187
Beaumont                 187
Brazoria County          187
Brownsville              187
Bryan-College Station    187
Collin County            187
Corpus Christi           187
Dallas                   187
Denton County            187
El Paso                  187
Fort Bend                187
Fort Worth               187
Galveston                187
Garland                  187
Harlingen                187
Houston                  187
Irving                   187
Wichita Falls            187
Name: count, dtype: int64

In [ ]:
df.describe()

,rownames,year,month,sales,volume,median,listings,inventory,date,ListingsPerMonth
count,8602.000000,8602.000000,8602.000000,8034.000000,8.034000e+03,7986.000000,7178.000000,7135.000000,8602.000000,7178.000000
mean,4301.500000,2007.299465,6.406417,549.564600,1.068586e+08,128131.442524,3216.902340,7.174590,2007.750000,827.800005
std,2483.327841,4.502923,3.441932,1110.737179,2.449337e+08,37359.575317,5968.331072,4.612125,4.498718,2209.252344
min,1.000000,2000.000000,1.000000,6.000000,8.350000e+05,50000.000000,0.000000,0.000000,2000.000000,0.000000
25%,2151.250000,2003.000000,3.000000,86.000000,1.084000e+07,100000.000000,682.000000,4.900000,2003.833333,107.850000
50%,4301.500000,2007.000000,6.000000,169.000000,2.298682e+07,123800.000000,1283.000000,6.200000,2007.750000,251.657143
75%,6451.750000,2011.000000,9.000000,467.000000,7.512139e+07,150000.000000,2953.750000,8.150000,2011.666667,644.770833
max,8602.000000,2015.000000,12.000000,8945.000000,2.568157e+09,304200.000000,43107.000000,55.900000,2015.500000,39790.000000

Reshaping with Hierarchical Indexing

In [ ]:
data = df.to_numpy().reshape((3,5))
indexers = ['Row 1', 'Row 2', 'Row 3']
dframe1 = pd.DataFrame(data, index=indexers, columns=['rownames', 'year', 'month', 'sales', 'volume'])
dframe1

ValueError: cannot reshape array of size 94622 into shape (3,5)