<a href="https://colab.research.google.com/github/Abiramibeeyou/Exploratory-Data-Analysis/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MODULE 2 - DATA TRANSFORMATION

CO1: Handle missing data in the real world data sets by choosing appropriate methods.

Many beginner developers get confused when working with pandas dataframes, especially regarding when to use **append, concat, merge, or join**. Let's assume that you are working at a university as a professor teaching a Software Engineering course and an Introduction to Machine Learning course, and there are enough students to split into two classes. Checkout the following Screenshot.

In [52]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/salemprakash/EDA/main/Data/txhousing.csv')
dff=pd.read_csv('https://raw.githubusercontent.com/salemprakash/EDA/main/Data/txhousing.csv')
df.head(10)

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333
5,6,Abilene,2000,6,156.0,13910000.0,66900.0,780.0,6.6,2000.416667
6,7,Abilene,2000,7,152.0,12635000.0,73500.0,742.0,6.2,2000.500000
7,8,Abilene,2000,8,131.0,10710000.0,75000.0,765.0,6.4,2000.583333
8,9,Abilene,2000,9,104.0,7615000.0,64500.0,771.0,6.5,2000.666667
9,10,Abilene,2000,10,101.0,7040000.0,59300.0,764.0,6.6,2000.750000

In [ ]:
#The structure of the dataframes is the same in both cases.
#In this case, we would need to concatenate them.
#We can do that by using the pandas concat() method
# In the dataset above, the first column contains information about student identifier and the second column contains their respective scores in any subject.
#The structure of the dataframes is same in the bothe case. In this case, we would need to concatenate both of them.
# We can do that by using Pandas concat() method.
#Output: A single dataframe combining both of the tables - ignore_index
#The ignore_index argument creates a new index


df1=df['listings'].head(10)
df2=df['inventory'].head(10)
dataframe = pd.concat([df1, df2], ignore_index=True)
dataframe

0     701.0
1     746.0
2     784.0
3     785.0
4     794.0
5     780.0
6     742.0
7     765.0
8     771.0
9     764.0
10      6.3
11      6.6
12      6.8
13      6.9
14      6.8
15      6.6
16      6.2
17      6.4
18      6.5
19      6.6
dtype: float64

In [ ]:
# if we want to combine them side by side
pd.concat([df1, df2], axis=1)

   listings  inventory
0     701.0        6.3
1     746.0        6.6
2     784.0        6.8
3     785.0        6.9
4     794.0        6.8
5     780.0        6.6
6     742.0        6.2
7     765.0        6.4
8     771.0        6.5
9     764.0        6.6

**Merging**

Now, consider another Listings and Inventory from our dataset

In [29]:
# Option 1
df1listings = df[['rownames','listings']].head(10)
df2listings = df[['rownames','listings']].tail(10)
df1Inventory = df[['rownames','inventory']].head(8)
df2Inventory = df[['rownames','inventory']].tail(8)
dflistings= pd.concat([df1listings,df2listings],ignore_index=True)
dfInventory= pd.concat([df1Inventory,df2Inventory],ignore_index=True)
dfLI = pd.concat([dflistings,dfInventory],axis=1)
dfLI

    rownames  listings  rownames  inventory
0          1     701.0       1.0        6.3
1          2     746.0       2.0        6.6
2          3     784.0       3.0        6.8
3          4     785.0       4.0        6.9
4          5     794.0       5.0        6.8
5          6     780.0       6.0        6.6
6          7     742.0       7.0        6.2
7          8     765.0       8.0        6.4
8          9     771.0    8595.0        7.0
9         10     764.0    8596.0        7.2
10      8593     905.0    8597.0        6.8
11      8594     870.0    8598.0        6.8
12      8595     821.0    8599.0        6.4
13      8596     829.0    8600.0        6.4
14      8597     795.0    8601.0        6.2
15      8598     818.0    8602.0        6.5
16      8599     760.0       NaN        NaN
17      8600     776.0       NaN        NaN
18      8601     770.0       NaN        NaN
19      8602     811.0       NaN        NaN

In [30]:
#Option 2
dfLI = dflistings.merge(dfInventory,how='inner')
dfLI
# Here, you will perform inner join with each dataframe. That is to say, if an item exists on the both dataframe, will be included in the new dataframe. This means, we will get the list of students who are appearing in both the courses.

    rownames  listings  inventory
0          1     701.0        6.3
1          2     746.0        6.6
2          3     784.0        6.8
3          4     785.0        6.9
4          5     794.0        6.8
5          6     780.0        6.6
6          7     742.0        6.2
7          8     765.0        6.4
8       8595     821.0        7.0
9       8596     829.0        7.2
10      8597     795.0        6.8
11      8598     818.0        6.8
12      8599     760.0        6.4
13      8600     776.0        6.4
14      8601     770.0        6.2
15      8602     811.0        6.5

In [31]:
#Option 3
dfLI = dflistings.merge(dfInventory,how='left')
dfLI

    rownames  listings  inventory
0          1     701.0        6.3
1          2     746.0        6.6
2          3     784.0        6.8
3          4     785.0        6.9
4          5     794.0        6.8
5          6     780.0        6.6
6          7     742.0        6.2
7          8     765.0        6.4
8          9     771.0        NaN
9         10     764.0        NaN
10      8593     905.0        NaN
11      8594     870.0        NaN
12      8595     821.0        7.0
13      8596     829.0        7.2
14      8597     795.0        6.8
15      8598     818.0        6.8
16      8599     760.0        6.4
17      8600     776.0        6.4
18      8601     770.0        6.2
19      8602     811.0        6.5

In [32]:
#option 4
dfLI = dflistings.merge(dfInventory,how='right')
dfLI

    rownames  listings  inventory
0          1     701.0        6.3
1          2     746.0        6.6
2          3     784.0        6.8
3          4     785.0        6.9
4          5     794.0        6.8
5          6     780.0        6.6
6          7     742.0        6.2
7          8     765.0        6.4
8       8595     821.0        7.0
9       8596     829.0        7.2
10      8597     795.0        6.8
11      8598     818.0        6.8
12      8599     760.0        6.4
13      8600     776.0        6.4
14      8601     770.0        6.2
15      8602     811.0        6.5

In [ ]:
#Add new colum that is the total price based on the quantity and the unit price
# ListingsPerMonth: The number of listings per month
df['ListingsPerMonth'] = df['listings'] / df['month']
df.head(10)

,rownames,city,year,month,sales,volume,median,listings,inventory,date,ListingsPerMonth
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000,701.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333,373.000000
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667,261.333333
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000,196.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333,158.800000
5,6,Abilene,2000,6,156.0,13910000.0,66900.0,780.0,6.6,2000.416667,130.000000
6,7,Abilene,2000,7,152.0,12635000.0,73500.0,742.0,6.2,2000.500000,106.000000
7,8,Abilene,2000,8,131.0,10710000.0,75000.0,765.0,6.4,2000.583333,95.625000
8,9,Abilene,2000,9,104.0,7615000.0,64500.0,771.0,6.5,2000.666667,85.666667
9,10,Abilene,2000,10,101.0,7040000.0,59300.0,764.0,6.6,2000.750000,76.400000

In [ ]:
df['city'].value_counts()

city
Abilene                  187
Port Arthur              187
Lubbock                  187
Lufkin                   187
McAllen                  187
Midland                  187
Montgomery County        187
Nacogdoches              187
NE Tarrant County        187
Odessa                   187
Paris                    187
San Angelo               187
Amarillo                 187
San Antonio              187
San Marcos               187
Sherman-Denison          187
South Padre Island       187
Temple-Belton            187
Texarkana                187
Tyler                    187
Victoria                 187
Waco                     187
Longview-Marshall        187
Laredo                   187
Killeen-Fort Hood        187
Kerrville                187
Arlington                187
Austin                   187
Bay Area                 187
Beaumont                 187
Brazoria County          187
Brownsville              187
Bryan-College Station    187
Collin County            187
Corpus Christi           187
Dallas                   187
Denton County            187
El Paso                  187
Fort Bend                187
Fort Worth               187
Galveston                187
Garland                  187
Harlingen                187
Houston                  187
Irving                   187
Wichita Falls            187
Name: count, dtype: int64

In [ ]:
df.describe()

,rownames,year,month,sales,volume,median,listings,inventory,date,ListingsPerMonth
count,8602.000000,8602.000000,8602.000000,8034.000000,8.034000e+03,7986.000000,7178.000000,7135.000000,8602.000000,7178.000000
mean,4301.500000,2007.299465,6.406417,549.564600,1.068586e+08,128131.442524,3216.902340,7.174590,2007.750000,827.800005
std,2483.327841,4.502923,3.441932,1110.737179,2.449337e+08,37359.575317,5968.331072,4.612125,4.498718,2209.252344
min,1.000000,2000.000000,1.000000,6.000000,8.350000e+05,50000.000000,0.000000,0.000000,2000.000000,0.000000
25%,2151.250000,2003.000000,3.000000,86.000000,1.084000e+07,100000.000000,682.000000,4.900000,2003.833333,107.850000
50%,4301.500000,2007.000000,6.000000,169.000000,2.298682e+07,123800.000000,1283.000000,6.200000,2007.750000,251.657143
75%,6451.750000,2011.000000,9.000000,467.000000,7.512139e+07,150000.000000,2953.750000,8.150000,2011.666667,644.770833
max,8602.000000,2015.000000,12.000000,8945.000000,2.568157e+09,304200.000000,43107.000000,55.900000,2015.500000,39790.000000

**Reshaping with Hierarchical Indexing**

In [ ]:
import pandas as pd
import numpy as np
data = np.arange(15).reshape((3,5))
indexers = ['Speed', 'Altitude', 'Temperature']
dframe1 = pd.DataFrame(data, index=indexers, columns=['Falcon', 'Eagle', 'Hawk', 'Owl', 'Condor'])
dframe1

             Falcon  Eagle  Hawk  Owl  Condor
Speed             0      1     2    3       4
Altitude          5      6     7    8       9
Temperature      10     11    12   13      14

In [ ]:
stacked = dframe1.stack();
stacked

Speed        Falcon     0
             Eagle      1
             Hawk       2
             Owl        3
             Condor     4
Altitude     Falcon     5
             Eagle      6
             Hawk       7
             Owl        8
             Condor     9
Temperature  Falcon    10
             Eagle     11
             Hawk      12
             Owl       13
             Condor    14
dtype: int64

In [ ]:
stacked.unstack()

             Falcon  Eagle  Hawk  Owl  Condor
Speed             0      1     2    3       4
Altitude          5      6     7    8       9
Temperature      10     11    12   13      14

TRANSFORMATION TECHNIQUES

06-Jan-2025

Data deduplication

In the Merging database-style dataframes section, we saw how we can merge different types of series and dataframes. Now, let's dive more into how we can perform other types of data transformations including **cleaning, filtering, deduplication**, and others.

In [35]:
#Performing data deduplication
#1. Let's consider a simple dataframe, as follows:
#2. The pandas dataframe comes with a duplicated() method that returns a Boolean series stating which of the rows are duplicates:

df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8597    False
8598    False
8599    False
8600    False
8601    False
Length: 8602, dtype: bool

In [36]:
#3. Now, we can drop these duplicates using the drop_duplicates() method:
dataframe = df.drop_duplicates()
dataframe

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333
...,...,...,...,...,...,...,...,...,...,...
8597,8598,Wichita Falls,2015,3,152.0,16716584.0,89200.0,818.0,6.8,2015.166667
8598,8599,Wichita Falls,2015,4,129.0,15482194.0,105300.0,760.0,6.4,2015.250000
8599,8600,Wichita Falls,2015,5,174.0,19188181.0,100000.0,776.0,6.4,2015.333333
8600,8601,Wichita Falls,2015,6,143.0,18820752.0,118800.0,770.0,6.2,2015.416667
8601,8602,Wichita Falls,2015,7,172.0,23850905.0,116700.0,811.0,6.5,2015.500000

In [37]:
#4. Let's add a new column and try to find duplicated items based on the second column:
dataframe = df.drop_duplicates(['city'])
dataframe

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.0
187,188,Amarillo,2000,1,102.0,8860000.0,80000.0,972.0,5.3,2000.0
374,375,Arlington,2000,1,241.0,26220683.0,94000.0,1417.0,3.7,2000.0
561,562,Austin,2000,1,1025.0,173053635.0,133700.0,3084.0,2.0,2000.0
748,749,Bay Area,2000,1,244.0,29322659.0,100700.0,1766.0,4.3,2000.0
935,936,Beaumont,2000,1,97.0,10100000.0,82100.0,876.0,6.1,2000.0
1122,1123,Brazoria County,2000,1,55.0,5245000.0,74400.0,512.0,5.9,2000.0
1309,1310,Brownsville,2000,1,NaN,NaN,NaN,400.0,9.1,2000.0
1496,1497,Bryan-College Station,2000,1,61.0,5615000.0,77900.0,498.0,4.2,2000.0
1683,1684,Collin County,2000,1,464.0,94788821.0,158700.0,2844.0,4.0,2000.0
1870,1871,Corpus Christi,2000,1,182.0,17665000.0,78500.0,2510.0,9.3,2000.0
2057,2058,Dallas,2000,1,2286.0,375389865.0,124400.0,13316.0,3.7,2000.0
2244,2245,Denton County,2000,1,313.0,50391510.0,138700.0,2023.0,4.4,2000.0
2431,2432,El Paso,2000,1,306.0,31525000.0,82100.0,2512.0,5.8,2000.0
2618,2619,Fort Bend,2000,1,343.0,52031964.0,129000.0,2181.0,3.8,2000.0
2805,2806,Fort Worth,2000,1,325.0,33417427.0,79200.0,2170.0,4.2,2000.0
2992,2993,Galveston,2000,1,37.0,4555000.0,95000.0,636.0,9.1,2000.0
3179,3180,Garland,2000,1,147.0,13211361.0,85200.0,531.0,2.3,2000.0
3366,3367,Harlingen,2000,1,31.0,3910000.0,87500.0,644.0,24.9,2000.0
3553,3554,Houston,2000,1,2653.0,381805283.0,102500.0,16768.0,3.9,2000.0
3740,3741,Irving,2000,1,69.0,8366542.0,95000.0,291.0,3.0,2000.0
3927,3928,Kerrville,2000,1,NaN,NaN,NaN,NaN,NaN,2000.0
4114,4115,Killeen-Fort Hood,2000,1,101.0,7595000.0,68000.0,1327.0,8.6,2000.0
4301,4302,Laredo,2000,1,NaN,NaN,NaN,NaN,NaN,2000.0
4488,4489,Longview-Marshall,2000,1,73.0,6170000.0,68100.0,1054.0,8.1,2000.0
4675,4676,Lubbock,2000,1,110.0,11615000.0,86000.0,723.0,3.6,2000.0
4862,4863,Lufkin,2000,1,28.0,2280000.0,68000.0,NaN,NaN,2000.0
5049,5050,McAllen,2000,1,67.0,5590000.0,69400.0,1303.0,14.1,2000.0
5236,5237,Midland,2000,1,NaN,NaN,NaN,NaN,NaN,2000.0
5423,5424,Montgomery County,2000,1,259.0,41671055.0,126400.0,2063.0,5.8,2000.0
5610,5611,Nacogdoches,2000,1,NaN,NaN,NaN,NaN,NaN,2000.0
5797,5798,NE Tarrant County,2000,1,344.0,62405222.0,137300.0,2205.0,3.8,2000.0
5984,5985,Odessa,2000,1,NaN,NaN,NaN,NaN,NaN,2000.0
6171,6172,Paris,2000,1,19.0,1440000.0,71700.0,286.0,7.5,2000.0
6358,6359,Port Arthur,2000,1,40.0,3090000.0,68300.0,314.0,5.6,2000.0
6545,6546,San Angelo,2000,1,66.0,5670000.0,76000.0,558.0,5.9,2000.0
6732,6733,San Antonio,2000,1,820.0,98974924.0,90900.0,5866.0,4.7,2000.0
6919,6920,San Marcos,2000,1,22.0,2380000.0,106700.0,190.0,6.3,2000.0
7106,7107,Sherman-Denison,2000,1,44.0,3843807.0,70000.0,494.0,6.6,2000.0
7293,7294,South Padre Island,2000,1,NaN,NaN,NaN,NaN,NaN,2000.0
7480,7481,Temple-Belton,2000,1,56.0,5775000.0,82900.0,582.0,6.7,2000.0
7667,7668,Texarkana,2000,1,NaN,NaN,NaN,NaN,NaN,2000.0
7854,7855,Tyler,2000,1,113.0,12425000.0,85800.0,1438.0,8.4,2000.0
8041,8042,Victoria,2000,1,40.0,3615000.0,83300.0,250.0,4.3,2000.0
8228,8229,Waco,2000,1,69.0,6652550.0,NaN,NaN,NaN,2000.0
8415,8416,Wichita Falls,2000,1,87.0,6710000.0,61200.0,673.0,5.5,2000.0

2. Replacing Values

In [38]:
#find and replace some values inside a dataframE
df['month'].replace(to_replace=1,value=2)

0       2
1       2
2       3
3       4
4       5
       ..
8597    3
8598    4
8599    5
8600    6
8601    7
Name: month, Length: 8602, dtype: int64

In [39]:
#Two or More replacements.
df.replace(to_replace=[2,3],value=[1,2])

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000
1,1,Abilene,2000,1,98.0,6505000.0,58700.0,746.0,6.6,2000.083333
2,2,Abilene,2000,2,130.0,9285000.0,58100.0,784.0,6.8,2000.166667
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333
...,...,...,...,...,...,...,...,...,...,...
8597,8598,Wichita Falls,2015,2,152.0,16716584.0,89200.0,818.0,6.8,2015.166667
8598,8599,Wichita Falls,2015,4,129.0,15482194.0,105300.0,760.0,6.4,2015.250000
8599,8600,Wichita Falls,2015,5,174.0,19188181.0,100000.0,776.0,6.4,2015.333333
8600,8601,Wichita Falls,2015,6,143.0,18820752.0,118800.0,770.0,6.2,2015.416667
8601,8602,Wichita Falls,2015,7,172.0,23850905.0,116700.0,811.0,6.5,2015.500000

3**.HANDLING MISSING DATA**

Whenever there are missing values, a NaN value is used, which indicates that there is no value specified for that particular index. There could be several reasons why a value could be NaN:

It can happen when data is retrieved from an external source and there are some incomplete values in the dataset.
It can also happen when we join two different datasets and some values are not matched.
Missing values due to data collection errors.
When the shape of data changes, there are new additional rows or columns that are not determined.
Reindexing of data can result in incomplete data.

In [40]:
#Note the following characteristics of missing values in the preceding dataframe:
#An entire row can contain NaN values.
#An entire column can contain NaN values.
#Some (but not necessarily all) values in both a row and a column can be NaN.
#NaN values in pandas objects
#1. Check the following example:
df.isnull()

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8597,False,False,False,False,False,False,False,False,False,False
8598,False,False,False,False,False,False,False,False,False,False
8599,False,False,False,False,False,False,False,False,False,False
8600,False,False,False,False,False,False,False,False,False,False
8601,False,False,False,False,False,False,False,False,False,False

In [41]:
#2. check it out in action:
df.notnull()

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
8597,True,True,True,True,True,True,True,True,True,True
8598,True,True,True,True,True,True,True,True,True,True
8599,True,True,True,True,True,True,True,True,True,True
8600,True,True,True,True,True,True,True,True,True,True
8601,True,True,True,True,True,True,True,True,True,True

In [42]:
#3. We can use the sum() method to count the number of NaN values in each store.
df.isnull().sum()

rownames        0
city            0
year            0
month           0
sales         568
volume        568
median        616
listings     1424
inventory    1467
date            0
dtype: int64

In [43]:
#4. We can go one level deeper to find the total number of missing values
df.isnull().sum().sum()

4643

In [44]:
#5. So, instead of counting the number of missing values, we can count the number of reported values:
df.count()

rownames     8602
city         8602
year         8602
month        8602
sales        8034
volume       8034
median       7986
listings     7178
inventory    7135
date         8602
dtype: int64

4**. Dropping missing values**

One of the ways to handle missing values is to simply remove them from our dataset. We have seen that we can use the isnull() and notnull() functions from the pandas library to determine null values

In [45]:
df.sales[df.sales.notnull()]

0        72.0
1        98.0
2       130.0
3        98.0
4       141.0
        ...
8597    152.0
8598    129.0
8599    174.0
8600    143.0
8601    172.0
Name: sales, Length: 8034, dtype: float64

In [46]:
df.sales.dropna()
#Note that the dropna() method just returns a copy of the dataframe by dropping the rows with NaN.

0        72.0
1        98.0
2       130.0
3        98.0
4       141.0
        ...
8597    152.0
8598    129.0
8599    174.0
8600    143.0
8601    172.0
Name: sales, Length: 8034, dtype: float64

In [47]:
#If dropna() is applied to the entire dataframe, then it will drop all the rows from the dataframe, because there is at least one NaN value in our dataframe:
df.dropna()

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333
...,...,...,...,...,...,...,...,...,...,...
8597,8598,Wichita Falls,2015,3,152.0,16716584.0,89200.0,818.0,6.8,2015.166667
8598,8599,Wichita Falls,2015,4,129.0,15482194.0,105300.0,760.0,6.4,2015.250000
8599,8600,Wichita Falls,2015,5,174.0,19188181.0,100000.0,776.0,6.4,2015.333333
8600,8601,Wichita Falls,2015,6,143.0,18820752.0,118800.0,770.0,6.2,2015.416667
8601,8602,Wichita Falls,2015,7,172.0,23850905.0,116700.0,811.0,6.5,2015.500000

In [48]:
#####Dropping by rows
#We can also drop rows that have NaN values. To do so, we can use the how=all argument to drop only those rows entire values are entirely NaN:
df.dropna(how='all')

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333
...,...,...,...,...,...,...,...,...,...,...
8597,8598,Wichita Falls,2015,3,152.0,16716584.0,89200.0,818.0,6.8,2015.166667
8598,8599,Wichita Falls,2015,4,129.0,15482194.0,105300.0,760.0,6.4,2015.250000
8599,8600,Wichita Falls,2015,5,174.0,19188181.0,100000.0,776.0,6.4,2015.333333
8600,8601,Wichita Falls,2015,6,143.0,18820752.0,118800.0,770.0,6.2,2015.416667
8601,8602,Wichita Falls,2015,7,172.0,23850905.0,116700.0,811.0,6.5,2015.500000

In [49]:


#Dropping by columns
#Furthermore, we can also pass axis=1 to indicate a check for NaN by columns.
df.dropna(how='all', axis=1)

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333
...,...,...,...,...,...,...,...,...,...,...
8597,8598,Wichita Falls,2015,3,152.0,16716584.0,89200.0,818.0,6.8,2015.166667
8598,8599,Wichita Falls,2015,4,129.0,15482194.0,105300.0,760.0,6.4,2015.250000
8599,8600,Wichita Falls,2015,5,174.0,19188181.0,100000.0,776.0,6.4,2015.333333
8600,8601,Wichita Falls,2015,6,143.0,18820752.0,118800.0,770.0,6.2,2015.416667
8601,8602,Wichita Falls,2015,7,172.0,23850905.0,116700.0,811.0,6.5,2015.500000

In [50]:
#we can also pass another argument, thresh, to specify a minimum number of NaNs that must exist before the column should be dropped:
df.dropna(thresh=5, axis=1)

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333
...,...,...,...,...,...,...,...,...,...,...
8597,8598,Wichita Falls,2015,3,152.0,16716584.0,89200.0,818.0,6.8,2015.166667
8598,8599,Wichita Falls,2015,4,129.0,15482194.0,105300.0,760.0,6.4,2015.250000
8599,8600,Wichita Falls,2015,5,174.0,19188181.0,100000.0,776.0,6.4,2015.333333
8600,8601,Wichita Falls,2015,6,143.0,18820752.0,118800.0,770.0,6.2,2015.416667
8601,8602,Wichita Falls,2015,7,172.0,23850905.0,116700.0,811.0,6.5,2015.500000

In [63]:
#Mathematical operations with NaN
ar1=dff['volume'].to_numpy()
ser1=dff['volume']
ar1.mean(),ser1.mean()

(nan, 106858620.78080657)

Note the following things:

When a ** NumPy** function encounters NaN values, it returns NaN.
Pandas, on the other hand, ignores the NaN values and moves ahead with processing. When performing the sum operation, NaN is treated as 0. If all the values are NaN, the result is also NaN.

In [65]:
#Let's compute the Total Volume
ser2=dff.volume
ser2.sum()

858502159353.0

In [66]:
#Average
ser2.mean()

106858620.78080657

In [67]:
#cumulative Summing
ser2.cumsum()

0       5.380000e+06
1       1.188500e+07
2       2.117000e+07
3       3.090000e+07
4       4.149000e+07
            ...
8597    8.584248e+11
8598    8.584403e+11
8599    8.584595e+11
8600    8.584783e+11
8601    8.585022e+11
Name: volume, Length: 8602, dtype: float64

**5.Filling Missing values**

In [68]:
#We can use the fillna() method to replace NaN values with any particular values.
filledDf=df.fillna(0)
filledDf

,rownames,city,year,month,sales,volume,median,listings,inventory,date
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333
...,...,...,...,...,...,...,...,...,...,...
8597,8598,Wichita Falls,2015,3,152.0,16716584.0,89200.0,818.0,6.8,2015.166667
8598,8599,Wichita Falls,2015,4,129.0,15482194.0,105300.0,760.0,6.4,2015.250000
8599,8600,Wichita Falls,2015,5,174.0,19188181.0,100000.0,776.0,6.4,2015.333333
8600,8601,Wichita Falls,2015,6,143.0,18820752.0,118800.0,770.0,6.2,2015.416667
8601,8602,Wichita Falls,2015,7,172.0,23850905.0,116700.0,811.0,6.5,2015.500000

In [70]:
#Check the difference in the following between NaN and NA filling
df['sales'].mean()

549.5646004480956

In [72]:
filledDf['sales'].mean()

513.2762148337596

In [73]:
#Backward and forward filling
#forward-filling - method = ffill
df.sales.fillna(method='ffill')

<ipython-input-73-7b265b8c2251>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.sales.fillna(method='ffill')

0        72.0
1        98.0
2       130.0
3        98.0
4       141.0
        ...
8597    152.0
8598    129.0
8599    174.0
8600    143.0
8601    172.0
Name: sales, Length: 8602, dtype: float64

In [74]:
df.sales.fillna(method='bfill')

<ipython-input-74-0c91b74eee7c>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.sales.fillna(method='bfill')

0        72.0
1        98.0
2       130.0
3        98.0
4       141.0
        ...
8597    152.0
8598    129.0
8599    174.0
8600    143.0
8601    172.0
Name: sales, Length: 8602, dtype: float64

**DISCRETIZATION AND BINNING **

Often when working with continuous datasets, we need to convert them into discrete or interval forms.
Each interval is referred to as a bin, and hence the name binning comes into play

In [76]:
sales=df['sales'].head(20)
sales

0      72.0
1      98.0
2     130.0
3      98.0
4     141.0
5     156.0
6     152.0
7     131.0
8     104.0
9     101.0
10    100.0
11     92.0
12     75.0
13    112.0
14    118.0
15    105.0
16    150.0
17    139.0
18    134.0
19    151.0
Name: sales, dtype: float64

In [82]:
#To convert the preceding dataset into intervals, we can use the cut() method from pandas
bins = [70, 99, 129, 149, 160]
category =pd.cut(sales,bins)
category

0       (70, 99]
1       (70, 99]
2     (129, 149]
3       (70, 99]
4     (129, 149]
5     (149, 160]
6     (149, 160]
7     (129, 149]
8      (99, 129]
9      (99, 129]
10     (99, 129]
11      (70, 99]
12      (70, 99]
13     (99, 129]
14     (99, 129]
15     (99, 129]
16    (149, 160]
17    (129, 149]
18    (129, 149]
19    (149, 160]
Name: sales, dtype: category
Categories (4, interval[int64, right]): [(70, 99] < (99, 129] < (129, 149] < (149, 160]]

In [83]:
#We can check the number of values in each bin by using the pd.value_counts() method
pd.value_counts(category)

<ipython-input-83-7a767266afe9>:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(category)

sales
(99, 129]     6
(70, 99]      5
(129, 149]    5
(149, 160]    4
Name: count, dtype: int64

In [84]:
#We can also indicate the bin names by passing a list of label
bin_names=['Low Sales','Moderate Sales','High Sales','Very High sales']
pd.cut(sales, bins, labels=bin_names)

0           Low Sales
1           Low Sales
2          High Sales
3           Low Sales
4          High Sales
5     Very High sales
6     Very High sales
7          High Sales
8      Moderate Sales
9      Moderate Sales
10     Moderate Sales
11          Low Sales
12          Low Sales
13     Moderate Sales
14     Moderate Sales
15     Moderate Sales
16    Very High sales
17         High Sales
18         High Sales
19    Very High sales
Name: sales, dtype: category
Categories (4, object): ['Low Sales' < 'Moderate Sales' < 'High Sales' < 'Very High sales']

In [91]:
#it is essential to note that if we pass just an integer for our bins,
#it will compute equal-length bins based on the minimum and maximum values in the data.
import numpy as np
#print(np.random.rand(40))  #Random numbers between 0 to 1
pd.cut(np.random.rand(40), 5, precision=2)

[(0.8, 1.0], (0.21, 0.4], (0.4, 0.6], (0.8, 1.0], (0.21, 0.4], ..., (0.0074, 0.21], (0.21, 0.4], (0.21, 0.4], (0.0074, 0.21], (0.8, 1.0]]
Length: 40
Categories (5, interval[float64, right]): [(0.0074, 0.21] < (0.21, 0.4] < (0.4, 0.6] < (0.6, 0.8] <
                                           (0.8, 1.0]]

In [85]:
#Panda provides a qcut method that forms the bins based on sample quantiles
randomNumbers = np.random.rand(2000)
category3 = pd.qcut(randomNumbers, 4) # cut into quartiles
category3

[(0.514, 0.767], (0.767, 0.999], (0.514, 0.767], (0.767, 0.999], (0.767, 0.999], ..., (0.767, 0.999], (-0.0009043, 0.267], (0.267, 0.514], (0.767, 0.999], (0.767, 0.999]]
Length: 2000
Categories (4, interval[float64, right]): [(-0.0009043, 0.267] < (0.267, 0.514] < (0.514, 0.767] <
                                           (0.767, 0.999]]

In [86]:

#Based on the number of bins, which we set to 4, it converted our data into four different categories.
#If we count the number of values in each category, we should get equal-sized bins as per our definition.
pd.value_counts(category3)

<ipython-input-86-71f9c193185e>:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(category3)

(-0.0009043, 0.267]    500
(0.267, 0.514]         500
(0.514, 0.767]         500
(0.767, 0.999]         500
Name: count, dtype: int64

**Outlier detection and filtering**

Outliers are data points that diverge from other observations for several reasons.

During the EDA phase, one of our common tasks is to detect and filter these outliers.

The main reason for this detection and filtering of outliers is that the presence of such outliers can cause serious issues in statistical analysis.

In [89]:
#suppose we want to calculate the total price based on the Sales and the Volume.
df['TotalPrice'] = df['sales'] * df['listings']
df

,rownames,city,year,month,sales,volume,median,listings,inventory,date,TotalPrice
0,1,Abilene,2000,1,72.0,5380000.0,71400.0,701.0,6.3,2000.000000,50472.0
1,2,Abilene,2000,2,98.0,6505000.0,58700.0,746.0,6.6,2000.083333,73108.0
2,3,Abilene,2000,3,130.0,9285000.0,58100.0,784.0,6.8,2000.166667,101920.0
3,4,Abilene,2000,4,98.0,9730000.0,68600.0,785.0,6.9,2000.250000,76930.0
4,5,Abilene,2000,5,141.0,10590000.0,67300.0,794.0,6.8,2000.333333,111954.0
...,...,...,...,...,...,...,...,...,...,...,...
8597,8598,Wichita Falls,2015,3,152.0,16716584.0,89200.0,818.0,6.8,2015.166667,124336.0
8598,8599,Wichita Falls,2015,4,129.0,15482194.0,105300.0,760.0,6.4,2015.250000,98040.0
8599,8600,Wichita Falls,2015,5,174.0,19188181.0,100000.0,776.0,6.4,2015.333333,135024.0
8600,8601,Wichita Falls,2015,6,143.0,18820752.0,118800.0,770.0,6.2,2015.416667,110110.0
8601,8602,Wichita Falls,2015,7,172.0,23850905.0,116700.0,811.0,6.5,2015.500000,139492.0

In [90]:
#Let's find the transaction that exceeded 3,000,000:
TotalTransaction = df["TotalPrice"]
TotalTransaction[np.abs(TotalTransaction) > 3000000]

561      3161100.0
562      3816953.0
563      4876326.0
564      4966752.0
565      7161660.0
           ...
6914    18192480.0
6915    20550600.0
6916    22625292.0
6917    26577495.0
6918    28026444.0
Name: TotalPrice, Length: 1128, dtype: float64